%clear-fix {
	&::after,
	&::before {
		clear:both;
		display:block;
		width:0;
		height:0;
		float:none;
		content:' ';
	}
}

html, body {
	height:100%;
	-webkit-touch-callout: none; /* iOS Safari */
	-webkit-user-select: none;   /* Chrome/Safari/Opera */
	-khtml-user-select: none;    /* Konqueror */
	-moz-user-select: none;      /* Firefox */
	-ms-user-select: none;       /* IE/Edge */
	user-select: none;           /* non-prefixed version, currently
		  not supported by any browser */
	overflow:auto;
}

.clear-fix {
	@extend %clear-fix;
}
